{% extends 'base.html' %}
{% load static %}
{% block meta_title %} Student Detail {% endblock meta_title %}
{% block title %} Student Detail{% endblock title %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card border-primary">
                <div class="card-body">
                    <h2 class="card-title">Student Card</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{ object.first_name }}</li>
                        <li class="list-group-item">Second name: {{ object.second_name }}</li>
                        <li class="list-group-item">Birthday: {{ object.birthday }}</li>
                        <li class="list-group-item">Notes: {{object.notes}}</li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}