{% extends 'base.html' %}
{% load static %}
{% block meta_title %} Students {% endblock meta_title %}
{% block title %} Students List{% endblock title %}

{% block content %}

<div class="row">
        <div class="col-md-12">
            <a href="{% url 'add_student' %}" class="btn btn-primary">Add Student</a>
        </div>
</div>

    <div class="row">
        <div class="col-md-12">


            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Name</th>
                        <th scope="col">Second name</th>
                        <th scope="col">Group</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
{% for student in object_list %}
                    <tr>
                        <th scope="row"> {{student.id}} </th>
                        <td>Photo</td>
                        <td>{{student.first_name}}</td>
                        <td>{{student.second_name}}</td>
                        <td>{{student.student_group}}</td>
                        <td>
                            <div class="dropdown show">
                                <a class="btn btn-info btn-sm dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    Action
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'detail' student.id %}">Detail</a>
                                    <a class="dropdown-item" href="{% url 'update_student' student.id %}">Edit</a>
                                    <a class="dropdown-item" href="{% url 'delete_student' student.id %}">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

